<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vehicule">
      <h2 data-cy="vehiculeDetailsHeading"><span jhiTranslate="garageApp.vehicule.detail.title">Vehicule</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vehicule.id }}</span>
        </dd>
        <dt><span jhiTranslate="garageApp.vehicule.model">Model</span></dt>
        <dd>
          <span>{{ vehicule.model }}</span>
        </dd>
        <dt><span jhiTranslate="garageApp.vehicule.licencePlate">Licence Plate</span></dt>
        <dd>
          <span>{{ vehicule.licencePlate }}</span>
        </dd>
        <dt><span jhiTranslate="garageApp.vehicule.firstRegistration">First Registration</span></dt>
        <dd>
          <span>{{ vehicule.firstRegistration | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="garageApp.vehicule.brand">Brand</span></dt>
        <dd>
          <div *ngIf="vehicule.brand">
            <a [routerLink]="['/brand', vehicule.brand?.id, 'view']">{{ vehicule.brand?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="garageApp.vehicule.customer">Customer</span></dt>
        <dd>
          <div *ngIf="vehicule.customer">
            <a [routerLink]="['/customer', vehicule.customer?.id, 'view']">{{ vehicule.customer?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/vehicule', vehicule.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
