<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vehicule-heading" data-cy="VehiculeCreateUpdateHeading" jhiTranslate="garageApp.vehicule.home.createOrEditLabel">
        Create or edit a Vehicule
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="garageApp.vehicule.model" for="field_model">Model</label>
          <input type="text" class="form-control" name="model" id="field_model" data-cy="model" formControlName="model" />
          <div *ngIf="editForm.get('model')!.invalid && (editForm.get('model')!.dirty || editForm.get('model')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('model')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="garageApp.vehicule.licencePlate" for="field_licencePlate">Licence Plate</label>
          <input
            type="text"
            class="form-control"
            name="licencePlate"
            id="field_licencePlate"
            data-cy="licencePlate"
            formControlName="licencePlate"
          />
          <div
            *ngIf="editForm.get('licencePlate')!.invalid && (editForm.get('licencePlate')!.dirty || editForm.get('licencePlate')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('licencePlate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="garageApp.vehicule.firstRegistration" for="field_firstRegistration"
            >First Registration</label
          >
          <div class="input-group">
            <input
              id="field_firstRegistration"
              data-cy="firstRegistration"
              type="text"
              class="form-control"
              name="firstRegistration"
              ngbDatepicker
              #firstRegistrationDp="ngbDatepicker"
              formControlName="firstRegistration"
            />
            <button type="button" class="btn btn-secondary" (click)="firstRegistrationDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="garageApp.vehicule.brand" for="field_brand">Brand</label>
          <select class="form-control" id="field_brand" data-cy="brand" name="brand" formControlName="brand">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="brandOption.id === editForm.get('brand')!.value?.id ? editForm.get('brand')!.value : brandOption"
              *ngFor="let brandOption of brandsSharedCollection; trackBy: trackBrandById"
            >
              {{ brandOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="garageApp.vehicule.customer" for="field_customer">Customer</label>
          <select class="form-control" id="field_customer" data-cy="customer" name="customer" formControlName="customer">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption"
              *ngFor="let customerOption of customersSharedCollection; trackBy: trackCustomerById"
            >
              {{ customerOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
