<div>
  <h2 id="page-heading" data-cy="VehiculeHeading">
    <span jhiTranslate="garageApp.vehicule.home.title">Vehicules</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="garageApp.vehicule.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vehicule"
        [routerLink]="['/vehicule/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="garageApp.vehicule.home.createLabel"> Create a new Vehicule </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vehicules?.length === 0">
    <span jhiTranslate="garageApp.vehicule.home.notFound">No vehicules found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vehicules && vehicules.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="model"><span jhiTranslate="garageApp.vehicule.model">Model</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="licencePlate">
            <span jhiTranslate="garageApp.vehicule.licencePlate">Licence Plate</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="firstRegistration">
            <span jhiTranslate="garageApp.vehicule.firstRegistration">First Registration</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="brand.id">
            <span jhiTranslate="garageApp.vehicule.brand">Brand</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="customer.id">
            <span jhiTranslate="garageApp.vehicule.customer">Customer</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let vehicule of vehicules; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vehicule', vehicule.id, 'view']">{{ vehicule.id }}</a>
          </td>
          <td>{{ vehicule.model }}</td>
          <td>{{ vehicule.licencePlate }}</td>
          <td>{{ vehicule.firstRegistration | formatMediumDate }}</td>
          <td>
            <div *ngIf="vehicule.brand">
              <a [routerLink]="['/brand', vehicule.brand?.id, 'view']">{{ vehicule.brand?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="vehicule.customer">
              <a [routerLink]="['/customer', vehicule.customer?.id, 'view']">{{ vehicule.customer?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vehicule', vehicule.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vehicule', vehicule.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vehicule)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
